@charset "utf-8";
/*==========================
        foundation
==========================*/

@import '_foundation/variable';
@import '_foundation/function';
@import '_foundation/mixin';
@import '_foundation/reset';

/*==========================
          layout
==========================*/

// @import '_layout/*';

/*==========================
          component
==========================*/

// @import '_object/_component/*';

/*==========================
          project
==========================*/

// @import '_object/_project/*';

/*==========================
           scope
==========================*/

/*==========================
           utility
==========================*/

@import '_object/_utility/utility';

body {
  background-color: $color-black54;
}

.p-article {
  width: 300px;
  &__inner {
    display: block;
    background-color: $color-white100;
  }
}

.p-articleUnit {
  @include flexBox(start, between, wrap);
  width: 700px;
  margin: -40px auto 0;
  .p-article {
    margin-top: 40px;
  }
}
